.main-div{
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url('/static/images/background-picture.png');
    background-size: cover;
}
#main-height{
    min-height: 600px;
}
.visa-text{
    max-height: 50px;
}
.symbols-header{
    max-height: 35px;
}
