<!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SJUNG!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <!--Main div-->
    <div class = "container-fluid main-div border border-dark">
        <header class = "row">
            <div class = "col-12 text-start">
              <button id="menu-toggle" class="menu-button">☰</button>
              <img src="{{ url_for('static', filename='images/return_arrow.png') }}" alt="go-back-arrow" class="symbols-header">
            </div>
            <div class = "col-6 text-start">
              <p>Det var så roligt jag måste skratta</p>
              <p>Text: L.Hellsing Musik: K. Brodin</p>
            </div>
            <div class = "col-6 text-end">
              <img src="{{ url_for('static', filename='images/symbols_right.png') }}" alt="symbols-right" class="symbols-header">
            </div>
        </header>
        <!--Tomma rutan-->
        <main class = "row d-flex align-items-end" id="main-height">
            <div class = "col-10">
              <p>Det var så roligt, jag måste skratta
                det kom en trekantig gubbe i
                Han hade träskor och näverjacka
                och hatten kantad med korvaskinn
                
                Han satte sig på en pall i köket
                och drog ur fickan sitt munspel opp
                Och börja spela så allting dansa
                med skrim och skrammel och tjo och hopp
                
                Det var så roligt, jag måste skratta
                det gick en spelande gubbe ut
                Och allting dansade bort med honom
                så hela köket blev tomt till slut
                
                Det var så länge sen som det hände
                men jag blev sittande där jag var
                Först blev jag morfar, så blev jag farfa
                så blev jag farfarsfar farfarsfar
                </p>
            </div>
            <!--Textbox-öga-->
            <div class="col-2 text-end">
              <img src="{{ url_for('static', filename='images/see_lyrics_btn.png') }}" alt="song-lyrics" class="img-fluid show-text">
            </div>
        </main>
        <footer class = "row">
            <div class = "col-12 text-center">
              <img src="{{ url_for('static', filename='images/audio_track.png') }}" alt="audio-track" class="img-fluid">
            </div>
            <div class ="col-12 text-center">
              <img src="{{ url_for('static', filename='images/shuffle_btn.png') }}" alt="shuffle" class="symbols-header">
              <img src="{{ url_for('static', filename='images/rewind_btn.png') }}" alt="rewind" class="symbols-header">
              <img src="{{ url_for('static', filename='images/play_btn.png') }}" alt="play" id="play-button" class="symbols-header" class="show-text">
              <img src="{{ url_for('static', filename='images/pause_btn.png') }}" alt="pause" id="pause-button" class="symbols-header" class="show-text">
              <img src="{{ url_for('static', filename='images/fast_forward_btn.png') }}" alt="fast-forward" class="symbols-header">
              <img src="{{ url_for('static', filename='images/repeat.png') }}" alt="repeat" class="symbols-header">
            </div>
        </footer>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
    </div>
    <div id="side-menu" class="side-menu">
      <!-- Innehåll i sidomenyn kan läggas här senare -->
      <h2>Sidomeny</h2>
      <p>Exempelinnehåll</p>
    </div>    
  </body>
</html>

<!--Vi bör lägga till en "alt" text på alla biler från kamratgranskningen-->
<!--där finns något ord som är på svenska men vi ska ha allt på engelska-->
<!--kommenterar som förtydligar vilket stycke som är kopplat till en särskild författare. -->